.test-creator {
  /* display: flex; */
  justify-content: center;
  padding: 2rem;
}

.test-creator__heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.test-creator__heading__divider {
  border-color: #2b2b2b;
  line-height: 30px;
  width: 45%;
  max-width: 850px;
  margin: 1.5rem auto;
  border-width: 2px;
  border-radius: 10px;
}

.test-section__creator {
  padding: 1rem;
  height: auto;
  width: 70%;
  max-width: 1000px;
  background-color: whitesmoke;
  margin: 1rem auto 6rem;
  border-radius: 15px;
  border: #2b2b2b solid;
}

.add-component-button {
  height: 40px;
  width: 40px;
}

.answer-type__icon {
  height: 20px;
  width: 20px;
  color: #2b2b2b;
  margin-right: 1rem;
}

.cancel-button {
  position: relative !important;
}

.test-input__title {
  width: 100%;
}

.test-input__title::placeholder {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.test-input__question::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.answer-type__divider {
  width: 75%;
}

.grade-picker {
  margin-top: 2rem;
}

.choosen-type {
  margin-top: 0.25rem;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
}

.option {
  height: 16px;
  width: 16px;
}

.add {
  margin: 1.5rem auto 0;
}

.remove {
  margin-left: 0.25rem;
}

@media (max-width: 500px) {
  .test-section__creator {
    width: 100%;
  }
  .cancel-button {
    height: 35px !important;
    width: 70px !important;
  }
}
@media (max-width: 400px) {
  .test-creator__heading {
    font-size: 1rem;
  }
  .test-creator__heading__divider {
    margin-top: 1rem;
  }
  .test-section {
    margin-top: 0.5rem;
  }
}
