.homework-card {
  margin-bottom: 2.5rem;
  padding: 1rem;
  width: 100%;
  min-width: 300px;
  cursor: pointer;
}

.homework-card__title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1.5px;
  word-spacing: -1px;
}

.homework-card__teacher__name {
  font-weight: bold;
}

.homework-card__sender__info {
  display: inline-block;
  text-align: center;
}

.homework-card__details {
  display: inline-block;
  text-align: center;
}

.trash-icon {
  cursor: pointer;
}

.trash-icon:hover,
.trash-icon:active {
  color: red;
}

.sender-details {
  margin: auto;
  text-align: center;
  display: block;
  background-color: #2b2b2b;
  padding: 2rem;
}

.sender-details__name {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  /* letter-spacing: -1px; */
  word-spacing: -1px;
}

.sender-details__discipline {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.homework-details__drawer {
  min-width: 310px;
}

.homework-details {
  background-color: #fff;
  border-radius: 33px;
  padding: 16px;
  margin: 1.5rem;
}

.homework-details__title {
  margin: 0 !important;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.homework-details__content__text {
  text-align: justify;
}

.homework-details__content__title,
.homework-details__duedate__title {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.15rem;
  font-weight: bold;
}

.homework-details__content {
  border: solid #2b2b2b;
  padding: 1rem;
  border-radius: 20px;
}

.homework-details__duedate__timing {
  text-align: center;
  margin: 0 auto;
  border: solid #2b2b2b;
  border-radius: 20px;
  padding: 0.5rem;
  width: max-content;
}

.homework-details__duedate__title {
  margin-top: 10px;
}

.undone-homework {
  height: 25px;
  width: 25px;
}

.file-name {
  font-size: 0.75rem;
  text-align: center;
}

.uploaded-files__list {
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  /* grid-auto-rows: minmax(50px, auto); */
  gap: 2.5rem 1rem;
  margin: 0 auto;
  justify-items: center;
}

.homework-table-card {
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

.homework-table-card > h1 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.homework-table-card__status {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.homework-table-card__status__title {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.25rem;
}

.homework-table-card__status__tag {
  margin-right: 0.5rem;
}

@media (max-width: 600px) {
  .homework-card__title {
    font-size: 1rem;
  }
  .homework-card__teacher__name {
    font-size: 0.75rem;
  }
}
