.main-messages {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: hidden;
}

.messages-body {
  height: calc(100% - 202px);
  padding: 0.5rem;
  overflow-y: auto;
}

/* convo card */

.convo-card {
  width: 100%;
  /* background-color: #d3d3d3; */
  height: 100px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.convo-card__profile__name {
  color: #2b2b2b;
  font-size: 1.15rem;
  margin-left: 1rem;
  font-weight: 700;
}

/* message conversation */

.messages {
  /* background-color: #d3d3d3; */
  width: 100%;
  height: 100%;
}

.messages-header {
  position: relative;
  padding: 0.5rem;
  height: 100px;
  background-color: #3b3b3b;
  width: 100%;
  z-index: 2;
}

.receiver-info {
  text-align: center;
}

.receiver-name {
  color: white;
  font-size: large;
  font-weight: bold;
}

.receiver-status {
  color: #d3d3d3;
  font-size: small;
  font-weight: bold;
}

.contacting-time {
  text-align: center;
}

.contacting-time__from,
.contacting-time__until {
  color: #b9b9b9;
  font-size: small;
}

.message-container {
  margin-bottom: 0.5rem;
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
}

.message-in {
  align-items: flex-start;
}

.message-out {
  align-items: flex-end;
}

.message-holder {
  min-width: 100px;
  position: relative;
  padding: 0.5rem;
  height: auto;
  max-width: 85%;
  border-radius: 15px;
  /* margin-bottom: -20px; */
}

.message-sender {
  font-weight: bold;
  font-size: 1rem;
}

.teacher-sender {
  font-style: italic;
}

.messages-chat__title{
  font-size: 2rem;
  font-weight: bold;
}

.message-timing {
  margin: -12px 0px -5px 4px;
  float: right;
}

.message-timing__hour {
  font-size: 0.7rem;
}

.right-sent {
  background-color: #d3d3d3;
}

.left-received {
  background-color: #2b2b2b;
  color: white;
}

.messages-footer {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.messages-footer__input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-size: small;
}

.send-icon {
  height: 30px;
  width: 30px;
  padding: 0.1rem;
  fill: #2b2b2b;
  cursor: pointer;
}

.send-icon:hover {
  fill: #2b2b2be0;
  transition: 0.15s;
}

/* .time-restriction {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.time-restriction__title {
  font-size: 0.8rem;
}

.time-restriction__time {
  font-size: 0.8rem;
} */

/* Deskttop */

.back-button-convos {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.list-convos-desktop {
  height: 100%;
  width: 40%;
  border-right: #2b2b2b solid 2px;
}

/* Phone-tablet */

.messages-conversations {
  width: 100%;
}

.messages-conversation {
  width: 100%;
  height: 100px;
  border-bottom: #a5a5a5 solid;
}

.messages-profile__info {
  margin-left: 1.5rem;
}

.messages-profile__username {
  font-size: large;
  font-weight: bold;
}

.messages-profile__status {
  font-size: smaller;
  letter-spacing: -1px;
  font-family: "Poppins", sans-serif;
}
 
@media (max-width: 1100px) {
  .messages-chat__title{
    font-size: 1rem;
  }
}