.page-header__left {
  display: flex;
  align-items: center;
}

.page-header__icon {
  justify-content: space-evenly;
  width: max-content;
  display: flex;
  align-items: center;
}

.page-header__icon__button:focus{
  box-shadow: none !important;
}

.page-header__icon__grid {
  width: 16px !important;
  height: 16px !important;
}

.page-header__icon__delete {
  cursor: pointer;
}

.page-header__icon__delete svg:hover {
  fill: red;
  transition: 0.5s;
}

.page-header__icon__delete__active svg {
  fill: red;
}

.page-header__icon__delete__active svg:hover {
  fill: #2b2b2b;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.arrow-back {
  height: 24px !important;
  width: 24px !important;
}

.white__arrow-back {
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: white !important;
}

@media (max-width: 500px) {
  .page-title {
    font-size: 1.1rem;
  }
  .arrow-back,
  .page-header__icon__grid {
    height: 0.7rem !important;
    width: 0.7rem !important;
  }
}
