.page-header__left {
  display: flex;
  align-items: center;
}

.page-header__icon {
  justify-content: space-evenly;
  width: 100px;
  display: flex;
  align-items: center;
}

.page-header__icon__grid {
  width: 16px !important;
  height: 16px !important;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.arrow-back {
  height: 24px !important;
  width: 24px !important;
}

.white__arrow-back {
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: white !important;
}

@media (max-width: 500px) {
  .page-title {
    font-size: 1.35rem;
  }
  .arrow-back,
  .page-header__icon__grid {
    height: 1.35rem !important;
    width: 1.35rem !important;
  }
}
